.image-wrapper {
  position: relative;
  max-width: 64px;
  /* // height: 64px; */
}
.image-wrapper .btn {
    position: absolute;
    top: 0px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 2px;
}
.image-wrapper .sponsor-logo {
    max-width: 64px;
    /* // max-height: 64px; */
    overflow: hidden;
    margin: 0;
    /* // clip-path: circle(32px at center); */
    border: 1px dashed var(--blueDark);
    border-radius: var(--borderRadius);
  }
.uploadFile input {
  display: none;
}
.uploadFile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 20ch; */
  border: 1px dashed var(--blueDark);
  border-radius: var(--borderRadius);
  padding: 4px 8px;
  cursor: pointer;
}