#financesManager .table-row,
#financesManager .table-head {
  /* // max 375px 220 = 150 / 2 = 75 */
  grid-template-columns: 60px 30px minmax(60px, 1fr) 60px 60px 1fr 60px 80px;
}
#sponsorsManager .table-row,
#sponsorsManager .table-head {
  /* // max 375px 220 = 150 / 2 = 75 */
  grid-template-columns: 60px 1fr 12ch 12ch 1fr 4ch 40px;
}
#downloadPeriod,
#automaticActions,
#manualMembershipFee {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  
}
#multiplePanels {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

#paymentsDetails #options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 0 0 16px;
}

#monthHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 8px 0;
}
#monthHeader .year { 
  grid-column: 2;
  margin: 0; 
  justify-self: center;
}

#monthHeader .prev,
#monthHeader .next,
#monthHeader .year{
  justify-self: center;
}
#monthHeader .prev,
#monthHeader .next{
  font-size: 2em;
  padding: 0 1em;
  cursor: pointer;
}
#monthHeader .prev { grid-column: 1;}
#monthHeader .next { grid-column: 3;}

#payments {
  display: block;
  min-width: 380px;
}
#payments .payment {
  border: 1px solid var(--blueMedium);
  border-radius: var(--borderRadius);
  padding: 4px;
  margin: 4px 0;
}
#payments .payment .qty::before {
  content: '€';
  width: 1ch;
  margin-right: 2px;
}
#payments .payment .editable,
#payments .payment .userReading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 2px 0;
}
#payments .payment .userReading {
  justify-content: flex-start;
}
.monthPicker {
  width: 10ch;
}


@media screen and (max-width: 992px) {

  #financesManager .table-row,
  #financesManager .table-head {
    /* // max 375px 220 = 150 / 2 = 75 */
    grid-template-columns: 60px 30px minmax(60px, 1fr) 60px 60px 60px;
  }
  #sponsorsManager .table-row,
  #sponsorsManager .table-head {
    /* // max 375px 220 = 150 / 2 = 75 */
    grid-template-columns: 60px 1fr 4ch 6ch 5ch 40px;
  }

  #financesManager .table-row .team,
  #financesManager .table-head .team,
  #financesManager .table-row .gender,
  #financesManager .table-head .gender,
  #sponsorsManager .link {
    display: none;
  }
}